
div {
    float: right;
    padding: 10px;
    }
.div1 {
    background: red;
}
.div2 {
    background: yellow;
}
.div3 {
    background: green;
}
.div4 {
    background-color: blue;
    clear: right;
    float: none;
}
